[submodule "B6B36EAR-SampleEshop"]
	path = B6B36EAR-SampleEshop
	url = git@github.com:mjvbarton/FEL-B6B36EAR-SampleEshop.git
[submodule "B6B36OMO-Labs"]
	path = B6B36OMO-Labs
	url = git@github.com:mjvbarton/FEL-B6B36OMO-Labs.git
[submodule "B6B36OMO-SmartFactory"]
	path = B6B36OMO-SmartFactory
	url = git@github.com:mjvbarton/FEL-B6B36OMO-SmartFactory.git
[submodule "B0B36PJV-SmartOrchestra"]
	path = B0B36PJV-SmartOrchestra
	url = git@github.com:mjvbarton/FEL-B0B36PJV-SmartOrchestra.git
[submodule "B6B36-GymGo"]
	path = B6B36-GymGo
	url = git@github.com:mjvbarton/FEL-B6B36SMP-GymGo.git
[submodule "B6B36ZPR-PcUcebna"]
	path = B6B36ZPR-PcUcebna
	url = git@github.com:mjvbarton/FEL-B6B36ZPR-PcUcebna.git
